/* Custom hero sheet */

// .sheet:hover > div:not(:hover) {
//   filter: grayscale(1) blur(2px);
// }

/* ---------------------------------------------- */
/* Custom antd */
.ant-select-selector {
  background: #18181b !important;
  border-color: #ffffff !important;
}

.ant-select-selector:hover {
  border-color: #f97316 !important;
}

.ant-select-selection-item {
  color: white !important;
}

.ant-select-arrow {
  color: white !important;
}

.ant-select-dropdown {
  background: #18181b !important;
}

.ant-select-item {
  color: white !important;
}

.ant-select-item-option-selected {
  background: #f97316 !important;
}
