@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* ---------------------------------------------- */
/* Custom hero sheet */

.hero:hover {
  flex: 2;
  filter: grayscale(0);
}

/* ---------------------------------------------- */
/* Custom antd */
.ant-select-selector {
  background: #18181b !important;
}

.ant-select-selection-item {
  color: white !important;
}

.ant-select-arrow {
  color: white !important;
}

.ant-select-dropdown {
  background: #18181b !important;
}

.ant-select-item {
  color: white !important;
}

.ant-select-item-option-selected {
  background: #f97316 !important;
}
